{% extends "base.html" %} 

{% block contenido %}
<section class="mt-5 pt-4">
    <div class="card border-0 shadow-sm mb-5">
        <div class="card-body p-0">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h1 class="fw-bold text-info border-bottom pb-3 mb-4 text-center">Acerca de Mí</h1>
                        
                        <div class="mb-4">
                            <h4 class="fw-bold text-info">Mis Pasiones e Intereses</h4>
                            <p>Me apasiona explorar y aprender sobre todo lo que el mundo tenga para ofrecerme. Siempre estoy buscando entender todo lo que nos rodea.</p>
                            <p>Entre mis principales intereses se encuentran la tecnología, la investigacion, la programacion y exigirle desafios a mi cerebro.</p>
                        </div>
                        <div class="mb-4">
                            <h4 class="fw-bold text-info">Mis Aspiraciones</h4>
                            <p>En un futuro, me gustaría dedicarme al desarrollo web y la programacion. Aspiro a crear soluciones digitales que logren tener un impacto en un gran grupo de personas.</p>
                            <p>Mi objetivo es contribuir al mundo digital desarrollando proyectos innovadores para lograr tener un gran futuro en mi vida laboral.</p>
                        </div>
                        <div class="mt-5 p-4 bg-light rounded text-center">
                            <h5 class="fw-bold mb-2">Información</h5>
                            <p class="mb-1">24308060610008@cetis61.edu.mx</p>
                            <p class="mb-0">Leyva Holguin Daniel Ivan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
