<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantillas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid bg-primary-subtle">
        <header>
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-white border-bottom border-primary bg-primary-subtle fixed-top">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">Menu de navegacion</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="offcanvas offcanvas-end bg-primary-subtle border-start border-5 border-primary"
                                tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu de navegacion</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/inicio">Inicio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="http://127.0.0.1:5000/animales">Animales exóticos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active " aria-current="page" href="http://127.0.0.1:5000/vehiculos">Vehiculos
                                                Antiguos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/maravillas">Las
                                                Maravillas del Mundo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/acerca">Acerca de
                                                mi</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <h1 class="text-primary-emphasis text-start">Desarrollo de plantillas base</h1>
            </div>
            
        </header>
        <section>
            {% block contenido %}
            {%endblock%}
        </section>
        <footer class="text-center" id="pie">
            <h6>Derechos reservados 2025</h6>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>