{% extends "base.html" %} 

{% block contenido %}
<section id="weas">
    <div class="row border-bottom border-primary py-2">
        <div class="col-12">
            <h3 class="text-primary-emphasis mb-3">Bienvenido esta es la pagina de incio</h3>
            <p>En esta pagina podras encontrar informacion sobre:</p>
            <ul>
                <li>Inicio</li>
                <li>Animales exóticos</li>
                <li>Vehiculos Antiguos</li>
                <li>Las Maravillas del Mundo</li>
                <li>Acerca de...</li>
            </ul>
        </div>
    </div>
</section>

{% endblock%}
